
<h1>Hello, <%= @user[:name] %></h1>
<p>Welcome to Fleetpanda</p>
  <p>You have successfully signed up to this app!</p>
  <p>Your Data is being process. We will get back to you soon.</p>
<p>Thanks for joining and have a great day!</p>